@import "themes";
@import "~@nebular/theme/styles/globals";
@include nb-install() {
    @include nb-theme-global();
}


/* You can add global styles to this file, and also import other style files */

.nb-theme-cosmic nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: unset;
}

.nb-theme-cosmic [nbButton].appearance-filled.status-primary {
    background-color: #a16eff;
    border-color: #a16eff;
    color: #ffffff;
}
